Stabvest Homepage

This homepage contains links to the various dashboards available
<a href="incidents">Incidents Dashboard</a>
<a href="agents">Agents Dashboard</a>
<a href="messages">Messages Dashboard</a>
<a href="agents">Deployment Dashboard</a>
<a href="management">Management Dashboard</a>

In addition, in the future it will display some basic statistics about the server
* Number of agents connected and how many are active or stale using information from /list_agents
* Number of incidents total and of each type (New, Active, Closed) using information from /list_incidents
* Number of messages received total and in the last 5 minutes using information from /list_messages
* Number of users total and of each role using information from /list_users_simple
* Number of tokens total using information from /list_tokens