{
    "AGENT_NAME": "{{ stabvest_agent_name }}",
    "AUTH_TOKEN": "{{ stabvest_auth_token }}",
    "SERVER_URL": "{{ stabvest_server_url }}",
    "SERVER_TIMEOUT": {{ stabvest_server_timeout }},
    "SLEEPTIME": {{ stabvest_sleeptime }},
    "DISARM": {{ stabvest_disarm | lower }},
    "IPTABLES_PATH": "{{ stabvest_iptables_path }}",
    "PORTS": {{ stabvest_ports | to_json }},
    "SERVICES": {{ stabvest_services | to_json }},
    "PACKAGES": {{ stabvest_packages | to_json }},
    "SERVICE_BACKUPS": {
        "PathName": "{{ stabvest_service_backups.PathName }}",
        "StartName": "{{ stabvest_service_backups.StartName }}",
        "Dependencies": "{{ stabvest_service_backups.Dependencies | default('[]') }}",
        "DisplayName": "{{ stabvest_service_backups.DisplayName }}",
        "StartType": "{{ stabvest_service_backups.StartType }}"
    },
    "PROTECTED_FOLDERS": "{{ stabvest_protected_folders }}",
    "DEBUG_PRINT": {{ stabvest_debug_print | lower }},
    "BACKUPDIR": "{{ stabvest_backupdir }}",
    "LOGFILE": "{{ stabvest_logfile }}",
    "STATUSFILE": "{{ stabvest_statusfile }}",
    "MTU_MIN": {{ stabvest_mtu_min }},
    "MTU_DEFAULT": {{ stabvest_mtu_default }},
    "MTU_MAX": {{ stabvest_mtu_max }},
    "LINUX_DEFAULT_TTL": {{ stabvest_linux_default_ttl }},
    "AGENT_TYPE": "{{ stabvest_agent_type }}"
}